<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Rozliczanie delegacji</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style-html.css"/>

    <style>

.summary-form {
    margin: 100px 0 20px 200px;
}
form {
    margin-top: 20px;
}
.form-col {
    margin-left: 40px;
}
.table {
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.1);
    background-color: #fdf7e7;
}
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand navbar-back" href="#">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
        </svg>
    </a>
    <a class="navbar-brand navbar-home-title" href="/home">Strona główna<span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown navbar-right active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ustawienia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/edit-profile">Pokaż profil</a>
                    <a class="dropdown-item" href="/logout">Wyloguj</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="summary-form" style="width:800px; margin:0 auto;">
    <form action="#" name="select-year" method="post" th:action="@{/management/periodic-summary}" role="form">
        <div class="form-row">
            <div class="col-md-4 form-col">
                <select name="delegationYear" th:value="${delegationYear}" class="form-control">
                    <option th:each="year : ${years}"
                            th:text="${{year}}" ></option>
                </select>
            </div>
            <div class="col form-col">
                <input type="submit" value="Zobacz podsumowanie dla wybranego roku" class="btn btn-info">
            </div>
        </div>
    </form>`
</div>
<div style="width:1500px; margin:0 auto;">
            <table class="table w-100 p-3 align-middle table-striped">
                <thead>
                <tr>
                    <th scope="col"><a class="table-col-name">#</a></th>
                    <th scope="col"><a class="table-col-name">Tytuł</a></th>
                    <th scope="col"><a class="table-col-name">Data rozpoczęcia</a></th>
                    <th scope="col"><a class="table-col-name">Data zakończenia</a></th>
                    <th scope="col"><a class="table-col-name">Kraj docelowy</a></th>
                    <th scope="col"><a class="table-col-name">Miasto docelowe</a></th>
                    <th scope="col"><a class="table-col-name">Dodano przez</a></th>
                    <th scope="col"><a class="table-col-name">Łączny koszt</a></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="delegation : ${delegations}">
                    <tr>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.id}"></td>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.title}"></td>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.realStartDateTime.toString().substring(0,10)}"></td>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.realEndDateTime.toString().substring(0,10)}"></td>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.destinationCountry}"></td>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.destinationCity}"></td>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.getUser().getName()} + ' ' + ${delegation.getUser().getLastName()}"></td>
                        <td th:class="'delegationTableRow' + ${delegation.id}" th:text="${delegation.advancedPayment + delegation.summaryCost}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        <h4 style="padding: 10px; display:block; border-bottom: 2px dotted;"th:text="${summaryMessage}"> </h4>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>