<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rozliczanie delegacji</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style-html.css"/>
    <style>
        .validation-message{
            color: red;
        }
    </style>
</head>

<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand navbar-back" href="#">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
        </svg>
    </a>
    <a class="navbar-brand navbar-home-title" href="/home">Strona główna<span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown navbar-right active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ustawienia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/edit-profile">Pokaż profil</a>
                    <a class="dropdown-item" href="/logout">Wyloguj</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Rejestracja użytkownika</h2>
            <h4>Wprowadź dane:</h4>
            <form autocomplete="off" action="#" th:action="@{/admin/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <div>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message">Imię:</label>
                        <input type="text" th:field="*{name}" placeholder="Jan"
                               class="form-control" required/><br/>
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message">Nazwisko:</label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Kowalski" class="form-control" required/><br/>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="validation-message">Adres e-mail:</label>
                        <input type="text" th:field="*{email}" placeholder="np. jankowalski@gmail.com"
                               class="form-control" required/><br/>
                        <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                               class="validation-message">Numer telefonu:</label>
                        <input type="text" th:field="*{phoneNumber}" placeholder="np. 111222333"
                               class="form-control" required/> <br/>
                        <label th:if="${#fields.hasErrors('position')}" th:errors="*{position}"
                               class="validation-message">Stanowisko:</label>
                        <input type="text" th:field="*{position}"
                               placeholder="np. Kierownik" class="form-control" required/><br/>
                        <label th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"
                               class="validation-message">Komentarz:</label>
                        <input type="text" th:field="*{comment}"
                               placeholder="komentarz (pole nieobowiązkowe)" class="form-control"/><br/>

                        <h4>Uprawnienia użytkownika:</h4>
                        Rodzaj uprawnień:
                        <select th:field="*{chosenRole}" class="form-control">
                            <option th:each="role : ${roles}" th:value="${{role.role}}"
                                    th:text="${{role.getPolishRole()}}"></option>
                        </select><br/>

                        <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
                        <button type="reset" class="btn btn-primary btn-block">Anuluj</button>
                    </div>
                </div>

                <div th:if="${successMessage!=null}" style="text-align: center;" class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="text-success" th:utext="${successMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    window.onload = function() {

};

    function rolesToPolish(roleName) {
    if(roleName == "USER") return "Pracownik";
    if(roleName == "ADMIN") return "Administrator";
    if(roleName == "ACCOUNTANT") return "Księgowa";
    if(roleName == "OWNER") return "Właściciel";
  }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>