<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Rozliczanie delegacji</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style-html.css"/>
    <style>
        .form-signin-heading{
            text-align: center;

        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <form th:action="@{/login}" method="POST" class="form-signin">
            <br/><br/><h3 class="form-signin-heading">Logowanie</h3><br/>

            <label for="email">Adres e-mail:</label>
            <input type="text" id="email" name="email"
                   placeholder="np. jankowalski@gmail.com" class="form-control" /> <br/>
            <label></label>
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password"
                   placeholder="********" class="form-control"/> <br/>
            <a href="/forgot-password">Zapomniałem hasła</a>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">Zaloguj</button>

        </form>
            <br><div th:if="${failMessage!=null}" style="text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span  th:utext="${failMessage}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>



    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
